 body,
 html {
   margin: 0;
   padding: 0;
 }

 .header {
   height: 60px;
   background-color: #858383;
 }

 .p1 {
   font-size: 2em;
   margin: 0;
   color: white;
   padding-top: 10px;
   padding-left: 20px;
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
 }

 .hero-section {
   height: 500px;
   background-color: gray;
   position: relative;
 }

 .p2 {
   color: white;
   font-size: 4rem;
   display: flex;
   align-items: center;
   justify-content: center;
   height: 100%;
 }

 .left-arrow,
 .right-arrow {
   height: 100%;
   width: 10%;
   position: absolute;
   top: 0;
   font-size: 3rem;
   display: flex;
   align-items: center;
   justify-content: center;
   color: white;
 }

 .right-arrow {
   right: 0;
 }

 .dots-section {
   height: 20%;
   position: absolute;
   display: flex;
   align-items: center;
   justify-content: center;
   bottom: 0;
   width: 100%;
 }

 .dot {
   background-color: rgb(255, 255, 255);
   height: 17px;
   width: 17px;
   border-radius: 50%;
   margin-right: 10px;
 }

 .dot-1 {
   background-color: rgb(192, 192, 192);
 }

 .section-1 {
   display: flex;
   padding: 30px;
   height: 400px;
   margin-top: 40px;
 }

 .image-part {
   background-color: #858383;
   border-radius: 25px;
   color: white;
   width: 50%;
   display: flex;
   align-items: center;
   justify-content: center;
   font-size: 3rem;
   margin-right: 30px;
 }

 .content-part {
   width: 50%;
 }

 .p3 {
   color: rgb(69, 167, 223);
   font-size: 2.5rem;
 }

 .p4 {
   font-size: 1.8rem;
   margin-top: 10px;
 }

 .section-2 {
   flex-direction: row-reverse;
 }

 .section-2 .image-part {
   margin-right: 0;
   margin-left: 30px;
 }

 .circles-container {
   display: flex;
   margin-top: 30px;
   margin-bottom: 30px;
 }

 .circle-container {
   margin-right: 20px;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
 }

 .circle {
   height: 100px;
   width: 100px;
   border-radius: 50%;
   background-color: #858383;
   color: white;
   display: flex;
   align-items: center;
   justify-content: center;
   font-size: 2rem;
   margin-right: 20px;
   text-align: center;
 }

 .circle-container h2 {
   color: blue;
 }

 .circle-container p {
   margin-top: 10px;
   font-size: 1.2rem;
   text-align: center;
 }

 .form, .form-preview {
   border: 1px solid gray;
   margin: 30px;
   padding: 0;

 }

 .form h2, .form-preview h2 {
   background-color: #858383;
   font-size: 1.8rem;
   margin: 0;
   height: 50px;
   text-align: center;
   padding-top: 8px;
   color: white;
 }

 .inner-container {
   width: 80%;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   justify-self: center;
 }

 .steps {
   display: flex;
   justify-content: center;
   width: 100%;
   gap: 20px;
   background-color: rgba(128, 128, 128, 0.692);
   margin-top: 20px;
 }

 .steps p {
   width: 50%;
   height: 40px;
   margin: 0;
   display: flex;
   align-items: center;
   justify-content: center;
 }

 .steps p:nth-child(1) {
   background-color: rgb(61, 213, 255);
 }

 .fields {
   display: flex;
   flex-direction: row;
   width: 100%;
   margin-top: 20px;
   height: 40px;
   gap: 20px;
 }

 .fields input, .fields select {
  width: 50%;
  padding: 10px;
  box-sizing: border-box;
 }

 .inner-container h3, .inner-container h4 {
  align-self: flex-start;
  font-size: 1.8rem;
  padding: 0;
  margin: 0;
  margin-top: 10px;
 }

 .languages {
  display: flex;
  align-items: flex-start;
  justify-self: flex-start;
  justify-items: flex-start;
  height: 100%;
  margin-right: 12px;
 }

 button {
  margin-top: 20px;
  margin-bottom: 20px;
  width: 150px;
  height: 40px;
  background-color: rgb(0, 255, 76);
  border: none;
  font-size: 1.2rem;
  cursor: pointer;
  margin-left: auto;
 }

  .field-output {
    display: flex;
    gap: 200px;
    margin-top: 10px;
    width: 100%;
    align-items: center;
    justify-content: space-between;
  }

  span {
    margin-left: 10px;
  }

  .bold {
    font-weight: bold;
  }

  .inner-container h3 {
    margin-top: 30px;
    color: aqua;
  }

  .dot.active {
  background-color: black;
}

